<div class="container">
  <h1><%= @survey.title %></h1>
  <ol>
    <% @survey.questions.each do |question| %>
      <li>
        <p><%= question.question %><p>
        <ul>
          <% question.options.each do |option| %>
          <li><span style="color: blue"><%= @options_frequency[option.id] %> otter<%if @options_frequency[option.id] != 1; %><%="s"%><%end%> responded:</span> <%= option.text %></li><br>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ol>
</div>
